
body{background-image: url(images/background_image_body.png)}
h1{color: #AE75D1;
font-family: monospace;
    font-size: 24px;
    text-align: center;
}
h2{color: darkmagenta;
font-family: monospace;
    font-size: 20px;
    text-align: center;
    
}
button{background-color: azure;
width: 110px;
padding: 5px;
margin-left: 40px;
margin-right: 40px;
font-family:monospace;
}
a{text-decoration: none;}
h3{color: blueviolet;
font-family: monospace;
    font-size: 16px;
    text-align: center;
}
p{text-align: center;
font-family: sans-serif;
font-size: 20px;
    color: black;
    background-color: bisque;
    margin-left: 50px;
    margin-right: 50px;
    padding: 5px;
}
img {display: block;
margin-left: auto;
    margin-right: auto;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;}
img {	display: block;
		margin-left:	auto;
		margin-right:	auto;
		width:	300px;}
.btn{border: none;
    color: black;
    background-color:#dbbefa; 
    cursor: pointer;
   font-size: 18px;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 2px 2px;
}



  padding: 10px;
  text-align: center;
    font-size: 14px;
  background-color: floralwhite;}
* {box-sizing: border-box;}
.responsive {
  padding: 5px;
  float:center;
  width: %;}



iframe{margin:60px;
display: block;
margin-left: auto;
margin-right: auto;
padding:5px;}
audio{display:block;
    margin-left: auto;
      margin-right: auto;
      width:300px;} 




iframe{margin:50px;
display: block;
margin-left: auto;
margin-right: auto;
padding:5px;}
audio{display:block;
    margin-left: auto;
      margin-right: auto;
      width:300px;} 
div.gallery {
  border: 4px solid #CBC3E3;}
div.gallery:hover {
  border: 10px solid #800080;}
div.gallery img {
  width: 100%;
  height: auto;}

.responsive {
  padding: 20 20px;
  float: left;
  width: 45%;}



